/* Signup style */
body {
  background-color: rgba(13, 13, 13, 0.2);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account {
  background-color: transparent;
  border: 3px solid rgba(13, 13, 13, 0.2);
  border-radius: 20px;
  max-width: 550px;
  height: 850px;
  padding: 25px 40px;
  box-shadow: black;
  gap: 20px;
}

.labe {
  font-weight: 600;
  color: rgba(24, 29, 37, 1);
  line-height: 1.5;
  font-size: 42px;
}

.already {
  font-weight: 200;
  color: rgba(13, 13, 13, 0.7);
}

#signin {
  color: black;
  font-size: larger;
  font-weight: 400;
}

#submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  padding: 10px;
  text-align: center;
  font-weight: 500;
  border-radius: 10px;
  margin-top: 40px;
}

#email, #password, #number {
  width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

#character {
  color: white;
  font-size: large;
  font-weight: 400;
}

.too {
  gap: 20px;
}

.hr-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: larger;
  margin: 10px 0;
}

.hr-with-text::before, .hr-with-text::after{
  content: "";
  flex: 1;
  border-bottom: 1px solid gray;
}

.hr-with-text:not(:empty)::before {
  margin-right: 10px;
}

.hr-with-text:not(:empty)::after {
  margin-left: 10px;
}

.one button {
  margin-top: 20px;
  border-radius: 10px;
  width: 130px;
  color: black;
  padding: 10px 15px;
  border: 1px solid white;
  background-color: transparent;
  margin-bottom: 25px;
}


/* Access code */
.accoun {
  background-color: transparent;
  border: 3px solid rgba(13, 13, 13, 0.2);
  border-radius: 20px;
  max-width: 550px;
  height: 850px;
  padding: 25px 40px;
  box-shadow: black;
  gap: 20px;
}

.mainbox {
  background-color: gray;
  border: 1px solid gray;
  height: 226px;
  border-radius: 20px;
  margin: 200px 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}



.mainbox input[type="number"] {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px 15px;
  width: 55px;
}